{% load static %}

{% include "chac/meta.html" %}

<link rel="stylesheet" type="text/css" href="{% static 'chac/styles.css' %}">

<body class="bg-orange-200">
    {% include "chac/navbar.html" %}
    <div class="mx-auto w-full max-w-full w-full max-w-full px-16 pt-6 pb-8 mb-4 mt-4">
        <form class="px-10 py-10 w-full bg-gray-100 shadow-md rounded">
            <h1 class="text-gray-700 text-3xl mb-8">Your cart</h1>
            
        </form>
    </div>

    {% include "chac/footer.html" %}
    
</body>